<h1>
  TinyApp&copy;, by Jonathan Sue
</h1>

<form method="GET" action="/login">
  <input type="submit" value="LOGIN">
</form>

<form method="GET" action="/register">
  <input type="submit" value="REGISTER">
</form>