  <title>
    TinyApp&copy;, by Jonathan Sue
  </title>

<% if (vars.username){ %>
   <form method="POST" action="/logout">
      <strong>Logged in as:</strong> <%= vars.username %>&nbsp;
      <input type="submit" value="LOGOUT">
    </form>
 <% } else{ %>
    <form action="/login" method="POST" style="margin:150px;">
      <label for="username">Enter User Name:</label>
      <input id="username" type="text" name="username" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
<% } %>
