<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
    <% include ./partials/_header %>
  <body>

    <% if (vars.user_id){ %>
      <form method="POST" action="/logout">
        <strong>Logged in as:</strong> <%= vars.user[vars.user_id].email %>&nbsp;
        <input type="submit" value="LOGOUT">
      </form>
    <% } else{ %>
      <form action="/register" method="POST" style="margin:150px;">
        <label for="email">Email:</label>
        <input id="email" type="email" name="email" placeholder="email@example.com" style="width: 300px">
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="Choose a secure password!" style="width: 300px">
        <input type="submit" value="Register">
      </form>
    <% } %>

  </body>
</html>