<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <% include ./partials/_header %>

    <h1>Link Information</h1>

      <table border="1">
      <tr>
        <th>Short Link</th>
        <th>Full Link</th>
      </tr>
      <tr>
        <td><a href='/u/<%=vars.shortURL %>' target ='_blank'><%=vars.shortURL %></a></td>
        <td><%= vars.fullURL %></td>
      </tr>
    </table>

    <br /> <br />

    <h2>Edit Where this Shortlink Points To</h2>

      <form action="/urls/<%=vars.shortURL %>" method="POST">
        <label for="newURL">Enter a URL:</label>
        <input id="newURL" type="text" name="newURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Submit Edit">
      </form>


    <br /> <br /> <br />

    <p><a href='/urls/new'>Click here to shorten another link!</a></p>

    <p><a href='/urls'>Click here to see the full list of links!</a></p>

</body>
</html>